---
import Layout from "../../../layouts/Layout.astro";

const { id } = Astro.params;
interface Producto {
  id: number;
  name: string;
  description_short: string;
  description_long: string;
  images: Images[];
  sizes: Sizes[];
}

interface Images {
  id: number;
  image: string;
  product_id: number;
  product: string;
}

interface Sizes {
  id: number;
  size: string;
  price: number;
  product_id: number;
  product: string;
}

import { API_URL } from "astro:env/server";

const data = await fetch(`${API_URL}/store/products/${id}`);
const producto: Producto = await data.json();

export async function getStaticPaths() {
  const res = await fetch(`${API_URL}/store/products/`);
  const productos = await res.json();

  return productos.map((producto: Producto) => ({
    params: { id: producto.id.toString() },
  }));
}
---

<Layout
  Title="Sol y Luna - Titulo del producto"
  Description="Descripción del producto"
  Active="Tienda"
>
  <div class="flex h-screen w-screen fixed justify-between items-center p-12">
    <div class="flex flex-col gap-5 left-2 top.3">
      {
        producto.images.map((image: Images) => (
          <img
            class="w-[200px] h-[300px] object-cover rounded-3xl cursor-pointer"
            src={`${API_URL}/${image.image}`}
            alt={`Imagen del producto ${id}`}
            loading="eager"
            transition:name={`img-${image.id}`}
          />
        ))
      }
    </div>
    {
      (
        <div class="flex flex-col gap-5">
          <h1 class="text-5xl relative uppercase">
            {producto.name}
            <div class="w-full h-full blur-2xl bg-[#e91e63] absolute top-0 left-0 -z-10" />
          </h1>
          <p>{producto.description_short}</p>
          <p>{producto.description_long}</p>
          <div class="flex gap-2">
            {producto.sizes.map((size: Sizes) => (
              <p class="text-2xl size relative cursor-pointer">{size.size}</p>
            ))}
          </div>
          <p class="price relative w-fit text-2xl">{producto.sizes[0].price}</p>
          <button class="uppercase p-4 border-4 border-[#e91e63] rounded-full text-[#e91e63] font-bold cursor-pointer hover:bg-[#e91e63] hover:text-white transition-colors duration-300">
            Añadir al carrito
          </button>
        </div>
      )
    }
  </div>
  <article class="flex w-screen justify-center items-center flex-col gap-5">
    {
      producto.images.map((img: Images) => (
        <img
          class="w-[900px] h-screen object-cover rounded-3xl image"
          src={`${API_URL}/${img.image}`}
          alt={`Imagen del producto ${id}`}
          transition:name={`img-${img.id}`}
        />
      ))
    }
  </article>
</Layout>

<script type="module">
  const grayScaleEffect = () => {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          const index = entry.target.dataset.index;
          const fixedImage = document.querySelector(
            `.fixed img[data-index="${index}"]`
          );
          if (fixedImage) {
            if (entry.isIntersecting) {
              fixedImage.classList.remove("grayscale");
            } else {
              fixedImage.classList.add("grayscale");
            }
          }
        });
      },
      { threshold: 0.5 }
    );

    document.querySelectorAll("article img").forEach((img, index) => {
      img.dataset.index = index;
      observer.observe(img);
    });

    document.querySelectorAll(".fixed img").forEach((img, index) => {
      img.dataset.index = index;
      img.addEventListener("click", (event) => {
        const index = event.target.dataset.index;
        const targetImage = document.querySelector(
          `article img[data-index="${index}"]`
        );
        if (targetImage) {
          targetImage.scrollIntoView({ behavior: "smooth", block: "center" });
        }
      });
    });
  };

  document.addEventListener("astro:after-swap", () => {
    requestAnimationFrame(() => {
      grayScaleEffect();
    });
  });

  // Ejecutar al cargar por primera vez
  requestAnimationFrame(() => {
    grayScaleEffect();
  });
</script>

<style>
  .img {
    mask-image: linear-gradient(
      90deg,
      transparent 0%,
      black 50%,
      transparent 100%
    );
  }

  .price::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #8798f2;
    filter: blur(14px);
    z-index: -1;
  }

  .fixed img {
    transition:
      transform 0.3s ease,
      filter 0.3s ease;
  }

  .fixed img:not(.grayscale) {
    transform: scale(1.1) translateX(50px);
  }

  .image {
    mask-image: linear-gradient(
      to left,
      transparent 10%,
      black 80%,
      transparent 100%
    );
  }

  .size::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f83c85;
    filter: blur(10px);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .size:hover::after {
    opacity: 1;
  }
</style>
